<style>
    .pt-plax-lg-light:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(244, 244, 244, 0.486);
}

 

.pt-plax-lg-light {
    background: url(bggaleria.png);
    background-size: cover;
}

.hover-default .p-hover, .hover-light .p-hover {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(216, 243, 214, 0.8);
    overflow: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.portfolio-filters .active a {
    background: #21519E;
    color: #ececec;
    padding: 3px 15px;
}

.cta-link {
    background: url(bgcta.png) repeat;
}

.cta-link .bg-overlay {
    width: 100%;
    background: rgba(49, 58, 40, 0.39);
}

.btn-ghost, .btn-ghost-light, .navbar .navbar-nav .dropdown .cart-dropdown .cart-btns .btn-ghost-light {
    background: none;
    color: #21519E;
    border: 2px solid #21519E;
    overflow: hidden;
    z-index: 1;
}

</style>


 <header class="page-title pt-large pt-light pt-plax-lg-light" data-stellar-background-ratio="0.4">
    <div class="container">
        <div class="row">
            

          <div class="col-md-6">
            <h1 style="font-size:30px; color:#21519E ">Galeria<br><b style="font-size:25px; font-weight:200">de <b>eventos</b></b></h1>
          </div>
        </div>

      </div>
  </header>


<div style="background-color:#F4FFF4; ">
   <!-- ========== Portfolio Boxed - 3 Columns ========== -->

   <section class="container portfolio-layout portfolio-columns-boxed" style="margin-top:0px">
        <div class="row">
          <header class="sec-heading">
            <h2></h2>
            <span class="subheading"></span>
          </header>
        </div><!-- / .row -->
        
        <!-- Filters -->
        <div class="row">
          <ul id="pfolio-filters" class="portfolio-filters">
            <li class="active"><a href="#" data-filter="*">Todos</a></li>
            <li><a href="#" data-filter=".webdesing">Palestras</a></li>
            <li><a href="#" data-filter=".print">Eventos</a></li>
            <li><a href="#" data-filter=".photo">Lazer</a></li>
          </ul>
        </div>

        <div class="row ws-m">
          <div id="pfolio">
            
            <!-- Item 1 -->
            <div class="col-md-4 portfolio-item print">
              <div class="p-wrapper hover-default">
                <img src="/img/bgs/piscinacristais-01.jpg" alt="Project Example">
                <div class="p-hover">
                  <div class="p-content">
                    <h4 style="color:#21519E ">Project Name</h4>
                    <h6 class="subheading" style="color:#21519E">Sub heading for the project</h6>
                  </div>
                </div>
                <a href="portfolio-single-1.html" class="open-btn"><i class="fa fa-expand"></i></a>
              </div>
            </div><!-- / .portfolio-item -->

            <!-- Item 2 -->
            <div class="col-md-4 portfolio-item webdesing photo">
              <div class="p-wrapper hover-default">
                <img src="/img/bgs/cristal-01-01.jpg" alt="Project Example">
                <div class="p-hover">
                  <div class="p-content">
                    <h4 style="color:#21519E ">Project Name</h4>
                    <h6 class="subheading" style="color:#21519E ">Sub heading for the project</h6>
                  </div>
                </div>
                <a href="portfolio-single-1.html" class="open-btn"><i class="fa fa-expand"></i></a>
              </div>
            </div><!-- / .portfolio-item -->

            <!-- Item 3 -->
            <div class="col-md-4 portfolio-item photo print">
              <div class="p-wrapper hover-default">
                <img src="/img/bgs/mandala-01.jpg" alt="Project Example">
                <div class="p-hover">
                  <div class="p-content">
                    <h4 style="color:#21519E ">Project Name</h4>
                    <h6 class="subheading" style="color:#21519E ">Sub heading for the project</h6>
                  </div>
                </div>
                <a href="portfolio-single-1.html" class="open-btn"><i class="fa fa-expand"></i></a>
              </div>
            </div><!-- / .portfolio-item -->

            <!-- Item 4 -->
            <div class="col-md-4 portfolio-item webdesing print">
              <div class="p-wrapper hover-default">
                <img src="/img/bgs/palestras-01.jpg" alt="Project Example">
                <div class="p-hover">
                  <div class="p-content">
                    <h4 style="color:#21519E ">Project Name</h4>
                    <h6 class="subheading" style="color:#21519E ">Sub heading for the project</h6>
                  </div>
                </div>
                <a href="portfolio-single-1.html" class="open-btn"><i class="fa fa-expand"></i></a>
              </div>
            </div><!-- / .portfolio-item -->

            <!-- Item 5 -->
            <div class="col-md-4 portfolio-item webdesing">
              <div class="p-wrapper hover-default">
                <img src="/img/bgs/bargourmet-01-01.jpg" alt="Project Example">
                <div class="p-hover" >
                  <div class="p-content">
                    <h4 style="color:#21519E ">Project Name</h4>
                    <h6 class="subheading" style="color:#21519E ">Sub heading for the project</h6>
                  </div>
                </div>
                <a href="portfolio-single-1.html" class="open-btn"><i class="fa fa-expand"></i></a>
              </div>
            </div><!-- / .portfolio-item -->

            <!-- Item 6 -->
            <div class="col-md-4 portfolio-item print webdesing photo">
              <div class="p-wrapper hover-default">
                <img src="/img/bgs/piscinanoite-01.jpg" alt="Project Example">
                <div class="p-hover">
                  <div class="p-content">
                    <h4 style="color:#21519E ">Project Name</h4>
                    <h6 class="subheading" style="color:#21519E ">Sub heading for the project</h6>
                  </div>
                </div>
                <a href="portfolio-single-1.html" class="open-btn"><i class="fa fa-expand"></i></a>
              </div>
            </div><!-- / .portfolio-item -->

          </div><!-- / #pfolio -->
        </div><!-- / .row -->
      </section><!-- / .portfolio-columns-boxed -->
    </div>


    <div class="cta-link">
            <div class="bg-overlay">
              
              <div class="cta-wrapper">
                <h3 class="h-alt wow fadeIn" data-wow-delay=".1s" data-wow-duration="1s" style="font-size:30px;color:#F4FFF4">FAÇA AQUI SEU <b style="">EVENTO</b></h3>
                <a href="#contact" class="btn btn-light btn-large wow fadeIn" data-wow-delay=".3s" data-wow-duration="1s" style="background-color:#F4FFF4; color:#21519E">Entrar em contato!</a>
              </div>
  
            </div>
          </div><!-- / .cta-link -->

          <div class="grey-bg" style="background-color:#F4FFF4">
                <div class="container section clients-layout">
                  <div class="row">
                        <header class="sec-heading">
                                <h2 style="color:#21519E">Próximos Eventos</h2>
                                <span class="subheading" style="color:rgb(51, 115, 189)">Confira a agenda do mês no Espaço Quântico</span>
                        </header>
            
                            <!-- Item 1 -->
                            <div class="col-lg-4 col-md-6 ws-s">
                            <div class="client-item">
                                <a href="portfolio/portfolio-single-1.html"><img class="img-responsive" src="http://placehold.it/680x490" alt="Client"></a>
                                <div class="item-content">
                                <h6 style="color:#21519E">Evento 1</h6>
                                <p class="event" style="color:#00AF00">Aqui colocamos uma descrição para o evento 1 e um link para uma página deste evento.</p>
                                <a href="portfolio/portfolio-single-1.html" class="btn-ghost btn-small cli-btn">Link para o evento</a>
                                </div>
                            </div><!-- / .client-item -->
                            </div><!-- / .col-lg-4 -->
            
                            <!-- Item 2 -->
                            <div class="col-lg-4 col-md-6 ws-s">
                            <div class="client-item">
                                <a href="portfolio/portfolio-single-1.html"><img class="img-responsive" src="http://placehold.it/680x490" alt="Client"></a>
                                <div class="item-content">
                                <h6 style="color:#21519E">Evento 2</h6>
                                <p class="event" style="color:#00AF00">Aqui colocamos uma descrição para o evento 2 e um link para uma página deste evento.</p>
                                <a href="portfolio/portfolio-single-1.html" class="btn-ghost btn-small cli-btn">Link para o evento</a>
                                </div>
                            </div><!-- / .client-item -->
                            </div><!-- / .col-lg-4 -->
            
                            <!-- Item 3 -->
                            <div class="col-lg-4 col-md-6 ws-s">
                            <div class="client-item">
                                <a href="portfolio/portfolio-single-1.html"><img class="img-responsive" src="http://placehold.it/680x490" alt="Client"></a>
                                <div class="item-content">
                                <h6 style="color:#21519E">Evento 3</h6>
                                <p class="event" style="color:#00AF00">Aqui colocamos uma descrição para o evento 3 e um link para uma página deste evento.</p>
                                <a href="portfolio/portfolio-single-1.html" class="btn-ghost btn-small cli-btn">Link para o evento</a>
                                </div>
                            </div><!-- / .client-item -->
                            </div><!-- / .col-lg-4 -->
            
                  </div><!-- / .row -->
                </div><!-- / .container -->
              </div><!-- / .gray-bg -->