<style>
    .pt-plax-md-dark {
    background: url(/img/bgsite-01.png);
    background-size: cover;
    background-position: 50%;
}

.ft-tabs .tabs-list .active a {
    border-left: 10px solid #00AF00;
    background: #F4FFF4;
}

.siteblue{
  color:#21519E !important;
  
}

.sitegreen{
  color:#00AF00 !important;

}

.ft-tabs .tab-content {
    height: 475px;
    background: #F4FFF4;
}

.ft-tabs .tabs-list li a {
    display: block;
    background: #F7FCF7;
    padding: 50px;
    border-left: 10px solid rgba(17, 17, 17, 0);
}


</style>

<header class="page-title pt-dark pt-plax-md-dark" data-stellar-background-ratio="0.4">
    <div class="bg-overlay">
      <div class="container">
        <div class="row">

          <div class="col-sm-6">
            <h1>Nossas Acomodações</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container-fluid ft-tabs">
    <div class="row">
      
      <!-- Tabs -->
      <div class="col-lg-4 no-gap">
        <ul class="tabs-list" role="tablist">

          <!-- Tab 1 -->
          <li role="presentation" class="active">
            <a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">
              <span class="linea-basic-home tab-icon"></span>
              <div class="tab-group">
                <span class="tab-heading siteblue">Quartos</span>
                <span class="tab-info"></span>
              </div>
            </a>
          </li>

          <!-- Tab 2 -->
          <li role="presentation">
            <a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">
              <span class="linea-basic-star tab-icon"></span>
              <div class="tab-group">
                <span class="tab-heading siteblue">Ambiente interno</span>
              </div>
            </a>
          </li>

          <!-- Tab 3 -->
          <li role="presentation">
            <a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">
              <span class="linea-basic-clubs tab-icon"></span>
              <div class="tab-group">
                <span class="tab-heading siteblue">Acomodações</span>
              </div>
            </a>
          </li>

        </ul>
      </div><!-- / .col-lg-4 -->


      <!-- Tabs Content -->
      <div class="col-lg-8 no-gap tab-content">

        <!-- Tab Content 1 -->
        <div id="tab1" role="tabpanel" class="tab-pane fade in active">
          <div class="col-md-6 tab-content-text">
            <h4 class="siteblue">Acomodações</h4>
            <p class="sitegreen" style="font-size:25px">Voltadas para seu máximo bem estar e integração com a natureza.</p>
          </div>

          <div class="col-md-6 tab-content-image">
            <img src="/img/areaexterna2.jpg" alt="Tab Image" class="img-responsive wow fadeInRight" data-wow-duration=".8s">
          </div>
        </div><!-- / #tab1 -->

        <!-- Tab Content 2 -->
        <div id="tab2" role="tabpanel" class="tab-pane fade">
          <div class="col-md-6 tab-content-text">
            <h4 class="siteblue">Tab content two</h4>
            <p class="sitegreen">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque cupiditate, accusantium laboriosam aut deleniti excepturi at nesciunt sint dolor earum quae quidem eius nostrum quas sed suscipit eligendi, aperiam cumque. Culpa maxime, cupiditate nemo sint suscipit aperiam.</p>
          </div>

          <div class="col-md-6 tab-content-image">
            <img src="/img/areaexterna.jpeg" alt="Tab Image" class="img-responsive wow fadeInRight" data-wow-duration=".8s">
          </div>
        </div><!-- / #tab1 -->

        <!-- Tab Content 3 -->
        <div id="tab3" role="tabpanel" class="tab-pane fade">
          <div class="col-md-6 tab-content-text">
            <h4 class="siteblue">Tab content three</h4>
            <p class="sitegreen">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque cupiditate, accusantium laboriosam aut deleniti excepturi at nesciunt sint dolor earum quae quidem eius nostrum quas sed suscipit eligendi, aperiam cumque. Culpa maxime, cupiditate nemo sint suscipit aperiam.</p>
          </div>

          <div class="col-md-6 tab-content-image">
            <img src="/img/jardim2.jpeg" alt="Tab Image" class="img-responsive wow fadeInRight" data-wow-duration=".8s">
          </div>
        </div><!-- / #tab1 -->
      </div><!-- / .col-lg-8 -->

    </div><!-- / .row -->
  </div><!-- / .container-fluid -->

  <header class="sec-heading" >
    <h2 style="color:#21519E;margin-top:100px !important;">Conheça Nosso Espaço</h2>
  </header>

  <div class="gray-bg" style="background-color:#F4FFF4">
    <section class="container section ft-cards-2">
      <div class="row">
        
        <div class="col-md-6">

          <!-- Item 1 -->
          <div class="ft-card-item">
            <img src="/img/testebackgroundmin.jpg" style="width:350; height:auto" alt="Templo de Fogo">
            <div class="ft-content">
              <h5 class="siteblue">Templo de Fogo</h5>
              <p class="sitegreen">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
              <a href="#" class="link-btn siteblue">Conheça! <span class="linea-arrows-slim-right"></span></a>
            </div>
          </div><!-- / .ft-card-item -->

          

          <!-- Item 2 -->
          <div class="ft-card-item">
            <img src="/img/templo.png" alt="Feature Image">
            <div class="ft-content">
              <h5 class="siteblue">Templo de Cristal</h5>
              <p class="sitegreen">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
              <a href="#" class="link-btn siteblue">Conheça! <span class="linea-arrows-slim-right"></span></a>
            </div>
          </div><!-- / .ft-card-item -->

        </div><!-- / .col-md-6 -->

        <div class="col-md-6">

          <!-- Item 3 -->
          <div class="ft-card-item">
            <img src="/img/piscinaazulmin.jpeg" alt="Feature Image">
            <div class="ft-content">
              <h5 class="siteblue">Piscina com Cristais</h5>
              <p class="sitegreen">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
              <a href="#" class="link-btn siteblue">Conheça! <span class="linea-arrows-slim-right"></span></a>
            </div>
          </div><!-- / .ft-card-item -->

          <!-- Item 4 -->
          <div class="ft-card-item">
            <img src="/img/jardim2min.jpeg" alt="Feature Image">
            <div class="ft-content">
              <h5 class="siteblue">Mandala</h5>
              <p class="sitegreen">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
              <a href="#" class="link-btn siteblue">Conheça! <span class="linea-arrows-slim-right"></span></a>
            </div>
          </div><!-- / .ft-card-item -->

          

        </div><!-- / .col-md-6 -->

        <div class="col-md-6">
          
                    <!-- Item 3 -->
                    <div class="ft-card-item">
                      <img src="/img/bargourmetmin.jpg" alt="Feature Image">
                      <div class="ft-content">
                        <h5 class="siteblue">Bar Gourmet</h5>
                        <p class="sitegreen">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                        <a href="#" class="link-btn siteblue">Conheça! <span class="linea-arrows-slim-right"></span></a>
                      </div>
                    </div><!-- / .ft-card-item -->
          </div><!-- / .col-md-6 -->

          <div class="col-md-6">
            
                      <!-- Item 3 -->
                      <div class="ft-card-item">
                        <img src="/img/piscinaazulmin.jpeg" alt="Feature Image">
                        <div class="ft-content">
                          <h5 class="siteblue">Salão Para Palestras</h5>
                          <p class="sitegreen">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                          <a href="#" class="link-btn siteblue">Conheça! <span class="linea-arrows-slim-right"></span></a>
                        </div>
                      </div><!-- / .ft-card-item -->
            </div><!-- / .col-md-6 -->

      </div><!-- / .row -->
    </section><!-- / .container -->
  </div><!-- / .gray-bg -->

